		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		body {
			font-family: 'Montserrat', sans-serif;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
			background-image: url(https://images.pexels.com/photos/1303082/pexels-photo-1303082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
			background-size: cover;
		}

		#game-container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 80%;
			margin: 0 auto;
		}

		#game-board {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			height: 90vh;
			width: 80vw;
			align-content: space-around;
			background-color: #f8f8f8;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			margin-right: 100px;
		}

		.card {
			width: 150px;
			height: 100px;
			display: inline-block;
			overflow: hidden;
			perspective: 1000px;
			position: relative;
			transform-style: preserve-3d;
			transition: transform 0.5s;
			transform-origin: center right;
			margin-left: 20px;
		}

		.card .front,
		.card .back {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			transform-origin: center;
			transition: transform 0.5s;
		}

		.card .back {
			transform: rotateY(180deg);
		}

		.card.flipped {
			transform: translateX(-100%) rotateY(-180deg);
		}

		#score-container {
			max-width: 400px;
			width: 100%;
			background-color: #f8f8f8;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#score-form,
		#end-game-form {
			margin-top: 20px;
			width: 100%;
		}

		#score-form button,
		#end-game-form button {
			width: 100%;
			height: 30px;
			margin-top: 30px;
			background-color: #45a049;
			color: #f8f8f8;
			border: #45a049;
			border-radius: 5px;
		}

		.card.matched {
			visibility: hidden;
			/* or any other style to hide the matched cards */
		}


